/* Aplicamos el color degradado */
body {
    background: linear-gradient(16deg, rgb(255, 255, 255) 1%, rgb(42, 156, 194) 100%);
    margin: 0;
}
#video_fondo > video{
  width: 100%;
  height: auto;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 10%;
}
header {

  border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    display: flex;
    justify-content: center;
}
/* #gradiant {
  height: 100px;
  z-index: -1;
  width: 100%;
  background: linear-gradient(16deg, rgb(255, 255, 255) 1%, rgb(88, 189, 223) 100%);
} */
#burger {
  display: none;
}
#burger_img {
  display: none;
}
#logo {
  margin: 15px;
  height: 65px;
  width: auto;
  animation-duration: 2s;
  animation-name: animacion;
}
@keyframes animacion {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 15px;
  }
}
header h1 {
    margin: 0.3em auto 0em;
    padding-left: 4.5em;
    text-align: center;
    font-size: 3em;
    display: block;
}
#logoTitulo {
  width: 100%;
}

header > #link {
    margin: 3em 3em;
    top: 20px;
    width: 10em;
    height: 5vh;
    text-align: left;
    float:right; 
    clear:right;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}
header > #link > a:visited {
  color: rgb(48, 48, 48);
} 

header a {
  text-decoration: none;
  color: black;
  transition: color .7s;
}

header a:hover {
  color: blue;
}
header > #link > a {
    text-decoration: none;
    color: black;
    transition: color .7s;

}

header > #link > a:hover {
    color: blue;

}
#contacto {
  display: flex;
  margin-top: 75px;
  margin-left: 12.5vw;
  width: 75vw;
  animation-duration: 2s;
  animation-name: animacionContacto;
}
@keyframes animacionContacto {
from {
  margin-left: -100%;
}

to {
  margin-left: 12.5vw;
}
}
.titulo {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-decoration: underline;
}

#correo {
  width: 37.5vw;
}
form > span {
  display: none;
  color: rgb(144, 0, 0);
  font-size: large;
}
#redes_sociales div{
  display: inline;
  height: 35px;
  font-size: large;
  margin-left: 15px;
}
#redes_sociales > a > img {
  margin-top: 20px;
  height: 35px;
  width: 35px;
}

.text {
  display: block;
}

.relleno {
  height: 500px;
}
main {
    margin-left: 10vw;
    width: 80vw;
    -webkit-box-shadow: 0px 9px 28px -9px;
    -moz-box-shadow: 0px 9px 28px -9px;
    box-shadow: 0px 9px 28px -9px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
  }
  #presentacion{
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .imagen {

      display: flex;
      justify-content: center;
  }
  .imagen > img {
    filter: blur(3px);
    transition: .6s ease-in-out;
    padding-left: 3vw;
    padding-top: 5vh;
    width: 185px;
    height: 200px;
  }
  .imagen:hover > img {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  #presentacion > .parrafo {
      margin-left: 5em;
  }
  .parrafo > p{
      font-size: x-large;
  }
  #curriculum > h1{
    margin-top: 180px;
      text-align: center;
  }
  * {
      box-sizing: border-box;
    }

/* #proyectos {
  display: flex;
  justify-content: space-between;
} */
.proyecto {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.proyecto img {
  width: 40vw;
  border: solid 1px black;
  margin: 10px;
  transition: filter 0.5s;
}
.proyecto img:hover {
  filter: grayscale(100%);

}
.proyecto > p {
  width: 50vw;
  padding: 30px;
  font-size: large;
}
.proyecto > p > b{
  font-size: x-large;
  margin: 5px;
}

  /*Línea del tiempo */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #A9D6E5;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Contenedor alrededor del contenido */
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* Los circulos */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #61D4E8;
    border: 4px solid #2DA1E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Situa el contenedor en la izquierda */
  .left {
    left: 0;
  }
  
  /* Situa el contenedor en la derecha */
  .right {
    left: 50%;
  }
  
  /* Flechas de la izquierda que apuntan a la derecha */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Flechas de la derecha que apuntan a la izquierda */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Situa los circulos de la derecha */
  .right::after {
    left: -16px;
  }
  
  /* Contenido */
  .content {
    padding: 20px 30px;
    background-color: #A9D6E5;
    position: relative;
    border-radius: 6px;
   }
   details{
     cursor: pointer;
   }
   details > p > a{
    text-decoration: none;
    color: black;
   }
   details > p > a:hover{
    color: blue;

   }
   .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #logoTitulo {
    display: flex;
  }
  
  /* Media queries - Se adapta toda la linea del tiempo a la izquierda cuando la pantalla es menor
                     de 800px */
  @media screen and (max-width: 800px) {
#video_fondo {
  display: none;
}
  /* Situa la linea a la izquierda */
    .timeline::after {
      left: 31px;
    }
  
  /* Los contenedores ocupan todo el ancho */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Todas las flechas apuntan a la izquierda */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Posiciona los circulos */
    .left::after, .right::after {
      left: 15px;
    }

    
  
  /* Cambia los contenedores de la derecha para que actuen como los de la izquierda */
    .right {
      left: 0%;
    }
  }
  .testimonio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
    padding: 5%;
  }

  .testimonio > div > p {
    padding: 10px;
    width: 40vw;
  }

  .video > video{
    width: 40vw;
  }
  
#subir > p {
  background-color: rgb(190, 240, 255) ;
  padding: 20px;
}
footer{
  display: flex;
  background-color: rgba(225,248,255,1);
  width: 100%;
  height: 100px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}
#redes > a > img {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 850px) {
  #burger {
    width: 90%;
    display: none;
    flex-direction: column;

  }
  #logo {
    animation-duration: 0;
  }
  #cont_bur {
    margin-top: 10px;
    display: flex;
    background-color: rgb(92, 201, 252);
    animation-duration: 2s;
  animation-name: animacionBurger;
}
@keyframes animacionBurger {
  from {
    height: 0;
  }

  to {
    height: 15px;
  }
}
  #cerrar {
    width: 10%;
    height: 30px;
    display: flex;
  }
  #burger > div > a {
    text-decoration: none;
    color: black;
  }
  #burger > div > a:hover {
  color: blue;
}
  #burger > div > img {
    width: 30px;
    height: 30px;
  }
  #burger_img {
    display: flex;
    width: 30px;
    height: 30px;
    animation-duration: 2s;
    animation-name: animacionBurgerImg;
  }
  @keyframes animacionBurgerImg {
    from {
      height: 0;
    }
  
    to {
      height: 15px;
    }
  }
  header {
    display: block;
    border: none;
  }
  .breadcrumb {
    margin-top: 10vh;
  }
  #link {
    display: none;
  }
  header h1 {

    width: 80%;
    margin-top: 15px;
    text-align: center;
    padding-left: 0em;
  }
  #presentacion{
  
    display: block;
}
   #presentacion > .parrafo {
    display: block;
    margin-left: 0;
  }
  .imagen {
  display: block;
  width: 100%;
  }
  main {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    -webkit-box-shadow: 0px 9px 28px -9px;
    -moz-box-shadow: 0px 9px 28px -9px;
    box-shadow: 0px 9px 28px -9px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
  }
  .testimonio > div > p {
    padding: 10px;
    width: 100%;
  }
  .video > iframe{
    width: 100%;
    height: auto;
  }
  #email{
    display: none;
  }
  .proyecto {
    display: block;
    align-items: center;
    padding-top: 30px;
  }
  .proyecto img {
    margin: 0;
    width: 100%;
    height: 75%;
    border: solid 1px black;
  }
  .proyecto > p {
    width: 100%;
    padding: 30px;
    font-size: large;
  }
  .proyecto > p > b{
    font-size: x-large;
    margin: 5px;
  }
  #contacto {
    display: block;
    margin-top: 75px;
    margin-left: 12.5vw;
    width: 75vw;
  }
  #correo {
    width: 100%;
  }

  
  #redes_sociales {
    margin-top: 50px;
  }
  #redes_sociales div{
    display: inline;
    height: 35px;
    font-size: large;
    margin-left: 15px;
  }
  #redes_sociales > a > img {
    margin-top: 20px;
    height: 35px;
    width: 35px;
  }
}
/* Buscador */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  margin: 20px 40px;
  position: relative;
  height: 30px;
  float: right;
  padding: 0;
}

#search {
  height: 60px;
  font-size: 30px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#search:focus:hover {
  border-bottom: 1px solid rgb(50, 180, 255);
}

#search:focus {
  width: 50vw;
  z-index: 1;
  border-bottom: 1px solid rgb(107, 196, 255);
  cursor: text;
}
#search_submit {
  height: 67px;
  width: 63px;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity .4s ease;
}
